.app {
  @media (prefers-color-scheme: dark) {
    body {
      color: #fff;
      background: #000;
    }
    a:link {
      color: #9cf;
    }
    a:hover,
    a:visited:hover {
      color: #cef;
    }
    a:visited {
      color: #c9f;
    }
  }
}
